*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
}

h2{
    font-size: 15px;
    font-family: Arial;
    text-align: center;
    color: darkolivegreen;
    font-weight: 500px;
    margin: 6%;
}
#img-1{
    border-radius: 70px;
    padding: 50px;
    height: 490px;

}
.ctl-gallery{
    text-decoration: none;
    height: 20px;
    background-color: darkolivegreen;
    border-radius: 90px;
    color: whitesmoke;
    cursor: pointer;
}

